aside{
	border: 0;
	position: fixed;
	top: 50px;
	width: 100%;
	height: 50px;
}

aside nav dl{
	width: 100%;
	display: table;
}
aside nav dt{
	display: none;
	margin: 0;
	font-size: 18px;
	text-indent: 0px;
}
aside nav dd{
	display: table-cell;
	text-indent: 15px;
}
aside nav dd a{
	text-align: center;
	height: 50px;
	line-height: 50px;
	display: block;
	width: 200px;
}
#content_wrapper{
	margin-left: 0;
}