#theme_wrapper{
	width: 100%;
}

#ranking h5{
	font-size: 18px;
	text-indent: 20px;
}
#ranking h5 a{
	padding: 0 20px;
}

.theme_content{
	padding: 20px;
	border-radius: 5px;
	background: rgba(255,255,255,0.2);
	margin: 0 auto;
	margin-top: 20px;
	width: 850px;
	display: block;
	margin-bottom: 20px;
}

.image_area{
	width: 200px;
	height: 200px;
	float: left;
	text-align: center;
}
.image_area img{
	margin: 0 auto;
	max-height: 200px;
	max-width: 200px;
}

.content_area{
	float: left;
	background: rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.2);
	min-width: 600px;
	padding: 10px;
	
}
.content_area p{
	width: 600px;
}

.content_area_user{
	display: table;
	height: 25px;
	padding: 10px 20px;
}

.content_area_user img{
	width: 25px;
	height: 25px;
	display: table-cell;
}
.content_area_user span{
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
}

.star{
	width: 145px;
}

#okiniiri{
	height: 25px;
	width: 75px;
	background: url("../images/okiniiri.png");
	background-size: cover;
	cursor: pointer;
}
#okiniiri:hover{
	background: url("../images/okiniiri2.png");
		background-size: cover;
}

.response_area{
	margin-bottom: 20px;
	float: right;
	background: rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.2);
	min-width: 600px;
	padding: 10px;
	
}
.response_area p{
	width: 600px;
}

.response_area_user{
	display: table;
	height: 25px;
	padding: 10px 20px;
}

.response_area_user img{
	width: 25px;
	height: 25px;
	display: table-cell;
}
.response_area_user span{
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
}

#response_area{
	background: rgba(0,0,0,0.2);
	width: 622px;
	margin-left: 228px;
	margin-bottom: 10px;
}
#response_area form label{
	display: table-cell;
	width: 100px;
	vertical-align: middle;
}
#response_area form > div{
	display: table;
}
#r_title{
	display: table-cell;
	height: 25px;
	width: 498px;
	margin-top: 5px;
}

#r_detail{
	display: table-cell;
	height: 100px;
	width: 502px;
	background: #fff;
}

#response_area form input[type="submit"]{
	width: 502px;
	height: 40px;
	margin-left: 100px;
}
