#theme_wrapper{
	width: 100%;
}

#ranking h5{
	font-size: 18px;
	text-indent: 20px;
}
#ranking h5 a{
	padding: 0 20px;
}

.theme_content{
	padding: 20px;
	border-radius: 5px;
	background: rgba(255,255,255,0.2);
	margin: 0 auto;
	margin-top: 20px;
	width: 850px;
	display: block;
	margin-bottom: 20px;
}

.image_area{
	width: 200px;
	height: 200px;
	float: left;
	text-align: center;
}
.image_area img{
	margin: 0 auto;
	max-height: 200px;
	max-width: 200px;
}

.content_area{
	float: left;
	background: rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.2);
	width: 600px;
	padding: 10px;
	
}
.content_area p{
	width: 600px;
}

.content_area_user{
	display: table;
	height: 25px;
	padding: 10px 20px;
}

.content_area_user img{
	width: 25px;
	height: 25px;
	display: table-cell;
}
.content_area_user span{
	vertical-align: middle;
	font-size: 12px;
}

input[type="text"]{
	height: 50px;
	font-size: 30px;
	width: 498px;
	margin-top: 5px;
	margin: 0 auto;
}

textarea{
	height: 100px;
	width: 502px;
	background: #fff;
	margin: 0 atuo;
}

input[type="submit"]{
	width: 502px;
	height: 40px;
	margin: 0 auto;
}

